<app-header></app-header> 
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-12" style="padding-left:0px;padding-right:0px; margin-bottom:70px;">
        <skill-search></skill-search>
    </div>
</div>
<div class="row" style ="height:110px">
    <div class="col-md-offset-3 col-md-6" col-xs-12>
        <add-skill><</add-skill>
    </div>
</div>
<div class="row" >
    <div class="col-md-offset-3 col-md-6 col-xs-12" style="padding-left:0px;padding-right:0px; margin-top:50px">
        <skill-list></skill-list>
    </div>
</div>
<app-error></app-error>